[submodule "android_openssl"]
	path = android_openssl
	url = https://github.com/KDAB/android_openssl.git
[submodule "src/smtpclient"]
	path = src/smtpclient
	url = https://github.com/cagnulein/SmtpClient-for-Qt.git
	branch = cagnulein-patch-2
[submodule "src/qmdnsengine"]
	path = src/qmdnsengine
	url = https://github.com/cagnulein/qmdnsengine.git
	# branch = Dircon-doesn't-work-on-android-13-and-14-(Issue-#3325)
	commit = 8114d702f1efa7cea5469e73ff76bf936e512495
[submodule "tst/googletest"]
	path = tst/googletest
	url = https://github.com/google/googletest.git
	branch = tags/release-1.12.1
[submodule "src/qthttpserver"]
	path = src/qthttpserver
	url = https://github.com/qt-labs/qthttpserver
[submodule "zwiftplay"]
	path = zwiftplay
	url = https://github.com/cagnulein/zwiftplay.git
	branch = lib
