.idea/

src/Makefile
src/.qmake.stash

src/*.o

src/moc_*
src/qrc_*

src/qdomyos-zwift

src/ui_charts.h
src/ui_mainwindow.h

src/debug-*

*.swo
*.swp

template-examples/youtube-viewer/node_modules/*
template-examples/youtube-viewer/*.json
template-examples/youtube-viewer/.eslintrc.js
template-examples/youtube-viewer/.jshintrc
template-examples/youtube-viewer/debug.js