src/qdomyos-zwift.pro.user

.idea/

src/Makefile
src/.qmake.stash

src/*.o

src/moc_*
src/qrc_*

src/qdomyos-zwift

src/ui_charts.h
src/ui_mainwindow.h

src/build/*
src/build/*

src/debug-*

src/secret.h

*.swo
*.swp

build-qdomyos-zwift-Android_Qt_5_15_2_Clang_Multi_Abi-Debug/*
**/node_modules/*

template-examples/youtube-viewer/node_modules/*
template-examples/youtube-viewer/*.json
template-examples/youtube-viewer/.eslintrc.js
template-examples/youtube-viewer/.jshintrc
template-examples/youtube-viewer/debug.js


template-examples/train-program-saver/node_modules/*
template-examples/train-program-saver/*.json
template-examples/train-program-saver/.eslintrc.js
template-examples/train-program-saver/.jshintrc
template-examples/train-program-saver/debug.js

google_test/*

# Qt-es
*.pro.user
*build-*
!build-qdomyos-zwift-Qt_*_for_iOS-Debug # Needed for Apple Watch
!build-qdomyos-zwift-Qt_*_for_iOS-Debug/ci_scripts/**
!build-qdomyos-zwift-Qt_*_for_iOS-Debug/qdomyoszwift.xcodeproj/project.xcworkspace/xcshareddata/**
!build-qdomyos-zwift-Qt_*_for_iOS-Debug/qdomyoszwift.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/**
src/inner_templates/googlemaps/cesium-key.js
*.autosave
.vscode/settings.json
/tst/Devices/.vs
src/inner_templates/googlemaps/cesium-key.js
src/qdomyos-zwift.pro.user.49de507
