[submodule "android_openssl"]
	path = android_openssl
	url = https://github.com/KDAB/android_openssl.git
[submodule "src/smtpclient"]
	path = src/smtpclient
	url = https://github.com/bluetiger9/SmtpClient-for-Qt.git
[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/jbagg/QtZeroConf.git
