<!DOCTYPE html>
<html lang="en-US">
<head><title>Workout</title>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="./sethtml.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<span id='spntime' class='normal'>T:</span><span id='spntimev' class='err'>--:--:--</span><br />
<span id='spndistance' class='normal'>D:</span><span id='spndistancev' class='err'>---</span><br />
<span id='spnspeed' class='normal'>S:</span><span id='spnspeedv' class='err'>---</span>&nbsp;&nbsp;<span id='spnspeedavg' class='normal'>Avg:</span><span id='spnspeedavgv' class='err'>---</span><br />
<span id='spnwatt' class='normal'>W:</span><span id='spnwattv' class='err'>---</span>&nbsp;&nbsp;<span id='spnwattavg' class='normal'>Avg:</span><span id='spnwattavgv' class='err'>---</span><br />
<span id='spncalorie' class='normal'>C:</span><span id='spncaloriev' class='err'>---</span><br />
<span id='spnrpm' class='normal'>R:</span><span id='spnrpmv' class='err'>---</span>&nbsp;&nbsp;<span id='spnrpmavg' class='normal'>Avg:</span><span id='spnrpmavgv' class='err'>---</span><br />
<span id='spnheart' class='normal'>H:</span><span id='spnheartv' class='err'>---</span>&nbsp;&nbsp;<span id='spnheartavg' class='normal'>Avg:</span><span id='spnheartavgv' class='err'>---</span><br />
<span id='spnincline' class='normal'>I:</span><span id='spninclinev' class='err'>---</span><br />
</body>
</html>
