<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>${ASSETCATALOG_COMPILER_APPICON_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.cagnulein.qdomyoszwift</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>qdomyoszwift</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>${QMAKE_PKGINFO_TYPEINFO}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>ConnectIQ URL Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.cagnulein.connectiqcomms-ciq</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>gcm-ciq</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.healthcare-fitness</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>${IPHONEOS_DEPLOYMENT_TARGET}</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our app uses bluetooth to find, connect and transfer data between the treadmill/bike and 3rd app like Zwift. The connection is always required.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Our app uses bluetooth to find, connect and transfer data between the treadmill/bike and 3rd app like Zwift</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_wahoo-fitness-tnp._tcp</string>
		<string>_qz_ipad._tcp</string>
		<string>_qz_iphone._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app use a QT framework in order to playback workout videos. This permission is required for this reason.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>application needs Documents access in order to save logs and gpx file for the training sessions</string>
	<key>NSHealthShareUsageDescription</key>
	<string>access to heartbeat in order to show it in the application</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>access to heartbeat in order to show it in the application</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app will need access to the local network for Discovery services (Wahoo Fitness Direct Connect).</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location service are used to give access to bluetooth peripheral.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location service are used to give access to bluetooth peripheral.</string>
	<key>NSMotionUsageDescription</key>
	<string>access to step cadence in order to show it on the iphone</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>bluetooth-le</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
