<!doctype html>
<html>

<head>
    <title>Line Chart</title>
	 <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="chartjs.3.4.1.min.js"></script>
    <script src="moment.js"></script>
    <script src="chartjs-adapter-moment.js"></script>
    <script src="globals.js"></script>
    <script src="main_ws_manager.js"></script>
         <script src="dochart.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div style="width:100%;">
        <canvas id="canvas"></canvas>
    </div>
</body>
</html>
